/* PC */
@media (min-width: 1024px) {
}

/* Table */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 767px) {
  #header {
    overflow: hidden;
  }

  #header .title {
    display: block;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #mobile-header{
    display: block;
  }

  #nav {
    position: fixed;
    top: var(--height-header);
    background-color: #ccc;
    width: 100%;
    display: none;
  }

  #nav>li {
    display: block;
  }

  #nav>li>a {
    color: #000;
  }

  #nav .subnav {
    position: initial;
    background-color: #ccc;
    box-shadow: none;
  }

  #nav li:hover .subnav {
    display: none;
}

  #nav .subnav a {
    color: #000;
    padding: 0 41px;
  }

  @keyframes identifier {
    
  }
}
