/* PC */
@media (min-width: 1024px) {
}

/* Table */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 767px) {
  #header {
    transform-style: preserve-3d;
  }

  #header .title {
    display: block;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #mobile-header{
    display: block;
  }

  #nav {
    position: fixed;
    top: var(--height-header);
    background-color: #ccc;
    width: 100%;
    display: none;
    animation: CollapseMenu ease .5s;
    transform-style: preserve-3d;
  }

  #nav>li {
    display: block;
  }

  #nav>li>a {
    color: #000;
  }

  #nav .subnav {
    width: 100%;
    background-color: #ccc;
    box-shadow: none;
    animation: CollapseMenu ease .5s;
  }

  #nav li:hover .subnav {
    display: none;
}

  #nav .subnav a {
    color: #000;
    padding: 0 41px;
  }

  #slider .text-content {
    display: none;
  }

  @keyframes CollapseMenu {
    from {
      transform: translate3d(0, -100%, -10px);
      opacity: 0;
    }
  
    to {
      transform: translate3d(0, 0, -10px);
      opacity: 1;
    }
  }

}
