/* PC */
@media (min-width: 64em) {

}

/* Table & Mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }

  .contact-form .form-control {
    padding: 15px;
  }

  #footer .social-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }

  .contact-info {
    line-height: 2;
  }
  
}

/* Table */
@media (min-width: 48em) and (max-width: 63.9375em) {
  #footer .social-list {
    font-size: 48px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .s-col-full,
  .s-full-width {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  #header {
    transform-style: preserve-3d;
  }

  #header .title {
    display: block;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    position: fixed;
    top: var(--height-header);
    background-color: #ccc;
    width: 100%;
    display: none;
    animation: openMenu ease .5s 0s forwards;
    -webkit-animation: openMenu ease .5s 0s forwards;
  }

  #nav>li {
    display: block;
  }

  #nav>li>a {
    color: #000;
  }

  #nav .subnav {
    width: 100%;
    background-color: #ccc;
    box-shadow: none;
  }

  #nav li:hover .subnav {
    display: none;
}

  #nav .subnav a {
    color: #000;
    padding: 0 41px;
  }

  #slideshow .slide-content {
    display: none;
  }

  #footer .social-list {
    font-size: 32px;
  }

  @keyframes openMenu {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, -10px);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, -10px);
    }
  }
}
